<div class="row">
  <div class="col-md-3 text-center">
    <div class="avatar">
      <%= image_tag @user.profile.avatar.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
    <h2><span class="job-title-icon"><%= job_title_icon %></span> <%= @user.profile.job_title %></h2>
    <div class="well profile-description profile-block">
      <h3>Description</h3>
      <p><%= @user.profile.description %></p>
    </div>
    <% if current_user.plan_id == '3' %>
      <div class="well contact-info profile-block">
        <h3>Contact Info</h3>
        <p><%= @user.profile.phone_number %></p>
        <p><%= @user.profile.contact_email %></p>
      </div>
    <% end %>
  </div>
</div>