<div class="jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <p>A membership site where entrepreneurs can meet developers.</p>
</div>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Your profile</h2>
        <% if current_user.profile %>
          <%= link_to "Edit your profile!", "#", class: "btn btn-default btn-lg btn-block" %>
          <%= link_to "View your profile!", user_path(current_user), class: "btn btn-default btn-lg btn-block" %>
        <% else %>
          <%# current_user is a special value we get from devise %>
          <%= link_to "Create your profile!", new_user_profile_path(current_user), class: "btn btn-default btn-lg btn-block" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">The Community</h2>
        <p>Visit the community to meet other developers, entrepreneurs, and investors!</p>
        <%= link_to "Visit the community", "#", class: "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
  <% else %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <p>Sign up for free and get access to the community.</p>
        <br/>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <p>Sign up for a Pro account for $10/month and get access to the community and contact information!</p>
        <%= link_to "Sign up Pro", new_user_registration_path(plan: @pro_plan.id), class: "btn btn-success btn-lg btn-block" %>
      </div>  
    </div>
  <% end %>
  
</div>